{% extends 'bash/bash.html' %}
{% block head%}

{% endblock %}
{% block content %}
{% load deploy_tag %}
<div class="row" id="report1">
    <div class="col-sm-12">
        <ol class="breadcrumb" style="background-color: #ffffff;font-size: 10px;top: -20px">
            <a href="/" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>Home </a>>
            <a href="/asset/{{ app_name }}/{{ model_name }}/" class="tip-bottom" data-original-title="">{% build_project_name admin_class %}</a>>
            <a href="/asset/{{ app_name }}/{{ model_name }}/ADD{% build_project_name admin_class %}" title="添加{% build_project_name admin_class %}" class="tip-bottom" data-original-title="">添加{% build_project_name admin_class %}</a>
        </ol>
        <h4 style="text-align: center">{% build_project_verbose_name admin_class %}</h4>

    </div>
</div>

<div class="row" id="report1">
    <div class="col-sm-12">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title span10" style="border: 0px solid">
                    <ul class="nav nav-tabs col-sm-1" >
                        <li role="navigation" class="active"><a href="#alert-tab" data-toggle="tab">逐条添加</a></li>
                        <li role="navigation"><a href="#note-tab" data-toggle="tab">批量添加</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span12" style="width: 90%">
            <div class="widget-box">
                <div id="generalTabContent" class="tab-content responsive">
                    <div id="alert-tab" class="tab-pane fade in active">
                         <form method="post">{% csrf_token %}
                            <div class="modal-body">
                                <div class="modal-body" >
                                     <form class="form-horizontal" method="post">{% csrf_token %}
                                    {% for field in form_obj %}
                                        {% if field.name == 'useposition' %}
                                        {{ pass }}
                                        {% else %}
                                        <div class="form-group ">
                                            <label id="{{ field.name }}" style="width: 9%;font-size: 12px">{{ field.label }}：</label>
                                            {% if field.name == 'phone' %}
                                                <input type="text" name="phone" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')">
                                            {% elif field.name == 'start_date' %}
                                                <input type="date" name="start_date" class="form-control" id="id_start_date">
                                            {% elif field.name == 'end_date' %}
                                                <input type="date" name="end_date"  class="form-control" id="id_end_date">
                                            {% elif field.name == 'size' %}
                                                <input type="number" name="size"  class="form-control" id="id_size">
                                                <span style="color: red">(单位:U)</span>
                                            {% elif field.name == 'password' %}
                                                <input type="password" name="password"  class="form-control" id="id_password">
                                                <span style="color: red" id="password_errors"></span>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                            <span style="color: red" id="{{ field.name }}_errors">{{ field.errors.0 }}  </span>
                                        </div>
                                        <br>
                                        {% endif %}
                                    {% endfor %}
                                     </form>
                                </div>
                                 <div class="form-group">
                                    <div class="span8">
                                        <input type="submit" id="save" class="btn btn-info" value="保存">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="note-tab" class="tab-pane fade" >
                        <p>请下载Excel文件, 按照格式填写主机信息, 上传导入. <a href="/asset/{{ app_name }}/{{ model_name }}/download/" style="color: #1a1ad2">点击下载模板</a></p>
                        <p></p>
                        <form id="upfile" action="/asset/{{ app_name }}/{{ model_name }}/upload/" method="post" enctype="multipart/form-data" target="file">
                            <input  type="file" name="upfile" />
                            <input type="submit" value="导入配置" class="btn-success btn btn-sm" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script src="/static/js/jquery.js"></script>
<script>

    $(function () {
        $("#upload").click(function () {
            document.getElementById('files').submit();
        })
    })

    $("#id_types").change(function () {
        new_id = $(this).val();
        heigths = document.getElementById('height');
        id_heigths = document.getElementById('id_height');
        if (new_id > 1){
            heigths.style.display='none'
            id_heigths.style.display='none'
        }
        else {
            heigths.style.display='block'
            id_heigths.style.display='block'
        }
    })

    $("#id_size").change(function () {
        var size_errors = document.getElementById('size_errors');
        if (this.value > 48){
            size_errors.innerText = '机柜容量不能大于48U';
            $("#save").attr('disabled',true);
        }else {
            size_errors.style.innerText = ' ';
            $("#save").attr('disabled',false);
        }
    })

</script>
{% endblock %}