{% extends 'bash/bash.html' %}
{% block head%}

{% endblock %}
{% block content %}
{% load deploy_tag %}
    <div class="row" id="report1">
        <div class="col-sm-12">
            <ol class="breadcrumb" style="background-color: #ffffff;font-size: 10px;top: -20px">
                <a href="/" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home </a>>
                <a href="/asset/{{ model_name }}/" class="tip-bottom" data-original-title="">{% build_project_verbose_name admin_class %}</a>>
                <a href="/asset/{{ model_name }}/" title="数据中心信息表" class="tip-bottom" data-original-title="">{% build_project_verbose_name admin_class %}信息表</a>
            </ol>
            <h4 style="text-align: center">{% build_project_verbose_name admin_class %}</h4>

        </div>
    </div>

    <div class="row" id="report1">
        {% if model_name != 'logs' %}
            <div class="col-sm-9">
                <a href="/asset/{{ app_name }}/{{ model_name }}/add/" class="btn btn-success btn-sm" style="border-radius: 0rem" >添加{% build_project_verbose_name admin_class %}</a>
            </div>
            <div class="col-sm-3">
                <form>
                    <div class="card-chart" style="top: 107px;">
                        <input type="search" name="_q" value="{% if querysets.q_val %}{{ querysets.q_val }}{% endif %}" placeholder="{% for s_field in admin_class.search_fields%}{{ s_field }} {% endfor %}" PLACEHOLDER="搜索" />
                        <button type="submit" class="tip-bottom" data-original-title="Search"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <hr>
        {% else %}
        <div class="span12">

            <select id="historical_data" style="width: 80px;font-size: 12px">
                <option label="选择日期" value="now"></option>
                <option label="全部日志" value="all"></option>
                <option label="今天日志" value="one_date"></option>
                <option label="三天日志" value="three_date"></option>
                <option label="七天日志" value="seven_date"></option>
                <option label="十五天日志" value="fifteen_date"></option>

            </select>
            <select id="select_users" style="width: 80px;font-size: 12px">
                <option label="选择用户" value="now"></option>
                <option label="全部" value="all"></option>
                {% build_option_user obj %}

            </select>
            <select id="select_action" style="width: 80px;font-size: 12px">
                <option label="选择行为" value="now"></option>
                <option label="全部" value="all"></option>
                {% build_option_action obj %}
            </select>

        </div>
        {% endif %}
        </div>
    <div class="row" id="report1">
        <form class="form-inline">
            <div class="form-group">
                {% if model_name == 'cabint' %}
                    <label class=" control-label">选择机房 </label>
                    <select class='form-control' name='_q' id="sele_idc">
                        {% build_idc_list admin_class %}
                    </select>
                    <button type="submit" class="tip-bottom" data-original-title="Search">  提交</button>
                {% elif model_name == 'servers' or model_name == 'device' %}
                    <label class=" control-label">选择机房 </label>
                    <select class='form-control' name='_q' id="sele_idc">
                        {% build_idcobj_list admin_class %}</select>
                    <label id="option_cabint">选择机柜 </label>
                    <select class='form-control' name='_q' id="sele_cabint"></select>
                    <label class=" control-label">选择组 </label>
                    <select class='form-control' name='_q' id="sele_idc">
                        {% build_group_list admin_class %}</select>
                    <button type="submit" class="tip-bottom" data-original-title="Search">  提交</button>
                {% endif %}

            </div>
        </form>
    </div>
    <div class="row" id="report1">
            {% get_filter_condtions_string filter_conditions q_val as  filter_condtions_string %}
            <div class="container-fluid">
                <div class="row-fluid">
                    <form method="post" >{% csrf_token %}
                        <table class="table table-bordered" style="width: 109%;max-width: 109%;margin-left: -45px">
                            <thead>
                                <tr>
                                    {% if not  admin_class.list_filter %}
                                    {% else %}
                                        {% if model_name != 'logs' %}
                                        <th class='text-center'>
                                            <input onclick="checkAll(this)" type="checkbox" />
                                        </th>
                                            {% for column in admin_class.list_filter %}
                                                {% if column == 'ID' %}
                                                {{ pass }}
                                                {% else %}
                                                    <th class='text-center'>
                                                    {% if order_column == column  %}
                                                       {{ column }}
                                                        {% generate_orderby_icon  new_order_key %}
                                                    {% else %}
                                                        {{ column }}
                                                    {% endif %}
                                                    </th>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <th style="width: 13%">日期</th>
                                            <th style="width: 12%">用户</th>
                                            <th style="width: 12%">行为</th>
                                            <th>内容</th>
                                        {% endif %}
                                        {% if model_name != 'logs' %}
                                        <th class='text-center' >操作</th>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody id="tbody" class="tab-content responsive">
                                {% for row in querysets %}
                                <div class="col-lg-12">
                                    <div method="post" id="content-info">
                                        {% if row in querysets %}
                                            {% if model_name == 'idc'  %}
                                            <tr class='gradeX '  >
                                                <td class='text-center' style="text-align: center">
                                                    <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                <td style="text-align: center">
                                                    <a href="/asset/{{ app_name }}/{{ model_name }}/detail/?id={{ row.id }}&name={{ row.name }}">{{ row.name }}</a>
                                                </td>
                                                <td style="text-align: center">
                                                    <a href="">{{ row.address }}</a>
                                                </td>
                                                <td style="text-align: center">{% if row.contacts == None %}{% else %}{{ row.contacts }}{% endif %}</td>
                                                <td style="text-align: center">{% if row.phone == None %}{% else %}{{ row.phone }}{% endif %}</td>
                                                <td style="text-align: center">{% if row.remarks == None %}{% else %}{{ row.remarks }}{% endif %}</td>
                                                <form method='POST'>
                                                    {% csrf_token %}
                                                    <td class="text-center" style="text-align: center">
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                    </td>
                                                </form>
                                            </tr>
                                            {% elif model_name == 'cabint' %}
                                                <tr class='gradeX '  >
                                                <td class='text-center' style="text-align: center">
                                                    <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                <td style="text-align: center">
                                                    <a href="/asset/{{ app_name }}/{{ model_name }}/detail/?id={{ row.id }}&name={{ row.number }}">{{ row.number }}</a>
                                                </td>
                                                <td style="text-align: center">{{ row.size }}</td>
                                                <td style="text-align: center">
                                                    <a href="/asset/servers/?_q={{ row.number }}">{{ row.useposition }}</a>
                                                </td>
                                                <td style="text-align: center">{{ row.room_number }}</td>
                                                <td style="text-align: center">{{ row.idc.name }}</td>
                                                <form method='POST'>
                                                    {% csrf_token %}
                                                    <td class="text-center" style="text-align: center">
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                    </td>
                                                </form>
                                            </tr>
                                            {% elif model_name == 'apps' %}
                                                <tr class="gradeX">
                                                    <td class="text-center" style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.name }}</td>
                                                    <td style="text-align: center">{{ row.version }}</td>
                                                    <td style="text-align: center">{{ row.ports }}</td>
                                                    <td style="text-align: center">{{ row.ssl }}</td>
                                                    <td style="text-align: center">{{ row.certif }}</td>
                                                    <td style="text-align: center">{{ row.domain }}</td>
                                                    <td style="text-align: center">
                                                        <a href="/asset/cmdbServer/servers/detail/?id={{ row.host.id }}">{{ row.host.ipaddress }}</a>
                                                    </td>
                                                     <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'company' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.name }}</td>
                                                    <td style="text-align: center">{{ row.model }}</td>
                                                    <td style="text-align: center">{{ row.get_types_display }}</td>
                                                    <td style="text-align: center">{{ row.height }}</td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'device' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/detail/?id={{ row.id }}">
                                                            {{ row.sn }}
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">{{ row.company.name }}</td>
                                                    <td style="text-align: center">
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/detail/?id={{ row.id }}&ip={{ row.ipaddress }}">
                                                            {{ row.ipaddress }}
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">{{ row.company.height }}U</td>
                                                    <td style="text-align: center">{{ row.cabint }}</td>
                                                    <td style="text-align: center">{{ row.position }}</td>
                                                    {% if row.get_device_statuses_display == '已启用' %}
                                                        <td style="text-align: center;background-color: #31ff1e">{{ row.get_device_statuses_display }}</td>
                                                    {% else %}
                                                        <td style="text-align: center;background-color: #ff1b2e">{{ row.get_device_statuses_display }}</td>
                                                    {% endif %}
                                                    <td style="text-align: center">{{ row.group }}</td>
                                                    <td style="text-align: center">{{ row.warranty}}</td>
                                                    <td style="text-align: center">{{ row.start_date|date:"Y-m-d H:i:s" }}</td>
                                                    {% if row.end_date == None %}
                                                    <td style="text-align: center">None</td>
                                                    {% else %}
                                                    <td style="text-align: center">{{ row.end_date|date:"Y-m-d H:i:s" }}</td>
                                                    {% endif %}
                                                    <td style="text-align: center">{{ row.contacts }}</td>
                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'warranty' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'>
                                                    </td>
                                                    <td style="text-align: center">{{ row.company }}</td>
                                                    <td style="text-align: center">{{ row.start_date|date:"Y-m-d H:i:s" }}</td>
                                                    {% if row.end_date == None %}
                                                    <td style="text-align: center">None</td>
                                                    {% else %}
                                                    <td style="text-align: center">{{ row.end_date|date:"Y-m-d H:i:s" }}</td>
                                                    {% endif %}
                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'group' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.name }}</td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'cpu' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.company.name }}</td>
                                                    <td style="text-align: center">{{ row.kernel }}</td>
                                                    <td style="text-align: center">{{ row.frequency }}</td>
                                                    <td style="text-align: center">{{ row.counts }}</td>
                                                    <td style="text-align: center"><a href="/asset/{{ app_name }}/servers/detail/?id={{ row.server.id }}">{{ row.server.hostname }}</a></td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'servers' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.sn }}</td>
                                                    <td style="text-align: center">{{ row.cabint.number }}</td>
                                                    <td style="text-align: center">
                                                        <a href="/asset/{{ app_name }}/{{ model_name }}/detail/?id={{ row.id }}">{{ row.hostname }}</a>
                                                    </td>
                                                    <td style="text-align: center">{{ row.ipaddress }}</td>
                                                    {% if not row.vlan.number %}
                                                    <td style="text-align: center">None</td>
                                                    {% else %}
                                                    <td style="text-align: center">{{ row.vlan.number }}</td>
                                                    {% endif %}
                                                    <td style="text-align: center">{{ row.group }}</td>
                                                    {% if row.get_status_display == '已启用' %}
                                                        <td style="text-align: center;background-color: #31ff1e">{{ row.get_status_display }}</td>
                                                    {% else %}
                                                        <td style="text-align: center;background-color: #ff1b2e">{{ row.get_device_status_display }}</td>
                                                    {% endif %}
                                                    <td style="text-align: center">{{ row.warranty }}</td>
                                                    <td style="text-align: center">{{ row.contacts }}</td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'disk' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.sn }}'></td>
                                                    <td style="text-align: center">{{ row.sn }}</td>
                                                    <td style="text-align: center">{{ row.company.name }}</td>
                                                    <td style="text-align: center">{{ row.get_types_display }}</td>
                                                    <td style="text-align: center">{{ row.size }}</td>
                                                    <td style="text-align: center">{{ row.count }}</td>
                                                    <td style="text-align: center"><a href="/asset/{{ app_name }}/servers/detail/?id={{ row.server.id }}">{{ row.server.hostname }}</a></td>
                                                    {% if row.get_status_display == '已启用' %}
                                                        <td style="text-align: center;background-color: #31ff1e">{{ row.get_status_display }}</td>
                                                    {% else %}
                                                        <td style="text-align: center;background-color: #ff1b2e">{{ row.get_status_display }}</td>
                                                    {% endif %}
                                                    <td style="text-align: center">{{ row.remarks }}</td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'ram' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.company.name }}</td>
                                                    <td style="text-align: center">{{ row.size }}</td>
                                                    <td style="text-align: center"><a href="/asset/{{ app_name }}/servers/detail/?id={{ row.server.id }}">{{ row.server.hostname }}</a></td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'nic' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.sn }}</td>
                                                    <td style="text-align: center">{{ row.company.name }}</td>
                                                    <td style="text-align: center">{{ row.ipaddress }}</td>
                                                    <td style="text-align: center">{{ row.get_model_display }}</td>
                                                    <td style="text-align: center">{{ row.mac_address }}</td>
                                                    <td style="text-align: center">{{ row.get_types_display }}</td>
                                                    <td style="text-align: center"><a href="/asset/{{ app_name }}/protocol/detail/?id={{ row.protocol.id }}">{{ row.protocol.number }}</a></td>
                                                    <td style="text-align: center">{{ row.get_speed_display }}</td>
                                                    <td style="text-align: center">{% build_nic_bonding row admin_class%}</td>
                                                    <td style="text-align: center"><a href="/asset/{{ app_name }}/servers/detail/?id={{ row.server.id }}">{{ row.server.hostname }}</a></td>
                                                    <td style="text-align: center">{{ row.remarks }}</td>

                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'bonding' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center;width: 8%">
                                                        {% build_bonding_nic admin_class %}
                                                    </td>
                                                    <td style="text-align: center">{{ row.device }}</td>
                                                    <td style="text-align: center">{{ row.get_model_display }}</td>
                                                    <td style="text-align: center">{{ row.ipaddress1 }}</td>
                                                    <td style="text-align: center">{{ row.ipaddress2 }}</td>
                                                    <td style="text-align: center">{{ row.ipaddress3 }}</td>
                                                    <td style="text-align: center">{{ row.ipaddress4 }}</td>
                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% elif model_name == 'protocol' %}
                                                <tr class='gradeX '  >
                                                    <td class='text-center' style="text-align: center">
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td style="text-align: center">{{ row.get_name_display }}</td>
                                                    <td style="text-align: center">{{ row.number }}</td>
                                                    <td style="text-align: center">{{ row.ipaddress }}</td>
                                                    <td style="text-align: center">{{ row.port_range }}</td>
                                                    <td style="text-align: center">{{ row.device.ipaddress }}</td>
                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <td class="text-center" style="text-align: center">
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/change/?project_id={{ row.id }}" class="btn btn-sm btn-info"  >编辑</a>
                                                            <a href="/asset/{{ app_name }}/{{ model_name }}/del/?idAll={{ row.id }}" class="btn btn-sm btn-danger"  >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>

                                            {% endif %}
                                        {% endif %}

                                    </div>
                                </div>
                                {% endfor %}
                                {% if model_name == 'logs' %}
                                    {% build_logs_info obj %}
                                {% endif %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="content">
                            <tr>
                                <td><input onclick="all_del_file(this) "  type='button' class='btn btn-sm btn-danger' value='删除' /></td>
                                {% if model_name == 'servers' %}
                                    <td>
                                        <a href="/asset/tasks/" class="btn btn-sm btn-info">执行命令</a>
                                    </td>
                                {% endif %}
                            </tr>

                        </div>
                    </form>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li ><a class="page-link" href="?_page=1{{ filter_condtions_string }}" aria-label="Previous">首页 </a></li>
                            <li ><a class="page-link" href="?_page={% build_frevious_pages querysets.number %}" aria-label="Previous"><i class="fa fa-chevron-left"></i> </a></li>
                            {% for p in paginator.page_range %}
                                {% get_abs_value p  querysets.number as i %}
                                {% if p < 3 %}
                                    {% if p == querysets.number %}
                                        <li><a class="page-link" href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} </a></li>
                                    {% else %}
                                        <li><a class="page-link" href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a class="page-link" href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="">
                                <a class="page-link" href="?_page={% build_next_pages querysets.number  paginator.num_pages%}"><i class="fa fa-chevron-right"></i></a>
                            </li>
                            <li class="">
                                <a class="page-link" href="?_page={{ paginator.num_pages }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">尾页</a>
                            </li>
                            <li class="">
                                <a class="page-link">总计 {{ querysets.paginator.num_pages }}页</a>
                            </li>
                            <li class="">
                                <a class="page-link">总计 {{ querysets.paginator.count }}条</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/static/js/jquery.min.js"></script>
<script >

$(function () {
    if($("#option_cabint")[0].style == "Uncaught TypeError"){}else {
        $("#option_cabint")[0].style.display='none';
        $("#sele_cabint")[0].style.display='none';
    }
})





function all_del_file(self) {
    var check = document.getElementsByName("_selected_obj");
    var len = check.length;
    var idAll = "";
    for (var i = 0; i<len;i++){
        if(check[i].checked){
            idAll += check[i].value+',';
        }
    }
    if(idAll == ''){
        var td_id = $(this).closest('tr').find('th').eq(1).text();
        idAll = td_id + ',' ;
    }
    $.ajax({
        url:"/asset/{{ app_name }}/{{ model_name }}/del/?idAll=" + idAll,
        type: 'post',
        success:function (data) {
            alert('删除成功',data);
            location.reload(true)
        }
    })
}

function checkAll(self) {
    if ( $(self).prop('checked')){

        $("table .row-obj").prop('checked',true)
    }else {
         $("table .row-obj").prop('checked',false)
    }
}


$("#historical_data").change(function () {

    dataFunc()
});
$("#select_users").change(function () {
    dataFunc()

});
$("#select_action").change(function () {
    dataFunc()

});

function get_date() {
    var day = document.getElementById('historical_data').value;
    if (day == 'now'){
        day = 0
    }
    else if(day == 'one_date'){
        day = 1
    }
    else if(day == 'three_date'){
        day = 3
    }
    else if(day == 'seven_date'){
        day = 7
    }
    else if(day == 'fifteen_date'){
        day = 15
    }
    else if(day == 'all'){
        day = 20000
    }
    return day
}

function get_user() {
    var user = document.getElementById('select_users').value;
    if(user=='now' || user=='all'){
        user = null
    }
    return user
}

function get_action() {
    var action = document.getElementById('select_action').value;
    if (action == 'now' || user == 'all'){
        action = null
    }
    return action
}


function dataFunc() {
    day = get_date();
    user = get_user();
    action = get_action();
    ajaxData(day,user,action)
}
function ajaxData(day,user,action) {
    $("#tbody").html();
    $.ajax({
        url: '/asset/logs/?day='+day+"&user="+user+"&action="+action,
        type: 'post',
        processData: false,
        contentType: false,
        success:function (data) {
            var obj = JSON.parse(data)
            ele = ""
            for(var i =0;i<obj.data.length;i++){
                ele_tr = "<tr>";
                ele_td = "<td>"+obj.data[i].date+"</td>";
                ele_td += "<td>"+obj.data[i].user+"</td>";
                ele_td += "<td>"+obj.data[i].action+"</td>";
                ele_td += "<td>"+obj.data[i].content+"</td>";
                ele_tr += ele_td;
                ele_tr += "</tr>";
                ele += ele_tr
            }
            $("#tbody").html(ele)
       }
    })
}
function ajax_users(user) {

}

function ajax_action(action) {

}

$("#sele_idc").change(function () {
    var obj = this;
    if (obj.value != ''){
        idc_name = obj.value;
        $.ajax({
            url: '/api/idc/',
            type: 'get',
            success:function (data) {
                ele = "";
                for (var i = 0;i < data.length; i ++){
                    if (data[i].name == idc_name){
                        ele_option = "<option value=''>-----</option>";
                        for(var j = 0;j< data[i].cabintd.length; j++){
                            ele_option += "<option value='"+data[i].cabintd[j].number+"'>"+data[i].cabintd[j].number+"</option>"
                        }
                        ele += ele_option;
                    }
                }
                $("#option_cabint")[0].style.display='block';
                $("#sele_cabint")[0].style.display='block';
                $("#sele_cabint").html(ele)
            }
        })
    }
})


</script>
{% endblock %}