
{% extends "bash/bash.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/matrix-media.css" />
{% endblock %}
{% block content %}
{% load deploy_tag %}

<!--breadcrumbs-->
<div class="row" id="report1">
    <div class="col-sm-12">
        <ol class="breadcrumb" style="background-color: #ffffff;font-size: 10px;top: -20px;">
            <a href="/" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home </a>>
        </ol>
        <h4 style="text-align: center">Dashboard For CMDB</h4>
        <br>
    </div>
</div>
<div class="row" id="report1">
    <div class="col-sm-3">
        <div class="card">
            <a href="/asset/idc/" style="color: #0b0b0b;">
            <div class="card-block">
                <div class="text-left report1-cont">
                    <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success fa fa-home"></i>机房</h2>
                </div>
                <span class="text-success">机房数量: {% build_idc_count admin_class %}</span>
            </div></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <a href="/asset/cabint/" style="color: #0b0b0b;">
                <div class="card-block">
                    <div class="text-left report1-cont">
                        <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success fa fa-align-justify"></i>机柜</h2>
                    </div>
                    <span class="text-success">机柜数量: {% build_cabint_info admin_class objects %}</span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <a href="/asset/servers/" style="color: #0b0b0b;">
                <div class="card-block">
                    <div class="text-left report1-cont">
                        <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success fa fa-server"></i>服务器</h2>
                    </div>
                    <span class="text-success">服务器数量: {% build_server_info admin_class objects %}</span>
                </div>
            </a>
        </div>
    </div>

</div>




{% endblock %}