
{% extends "bash/bash-index.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/matrix-media.css" />
{% endblock %}
{% block centent %}
{% load deploy_tag %}

<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<div class="col-sm-12">
    <div class="ibox float-e-margins" id="all">
        <div class="quick-actions">
            <h3>Dashboard For CMDB</h3>
            <p></p>
        </div>

        <div class="row-fluid">
            <div class="quick-actions_homepage">
                <ul class="quick-actions">
                    {% for name in objects %}
                    <li class="bg_lb"> <a href="/asset/cabint/?_q={{ name.name }}">
                        <i class="icon-home" ></i> {{ name.name }}
                        {% build_idc_info admin_class name.id %}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    function edit_cluster() {
        console.log('编辑被点击',$(this));

        var cid = $("this td:eq(1)").text();
        console.log('cid',cid);
    }

</script>

{% endblock %}